<!DOCTYPE html>
<html lang ="en">
<head><title>functions Parsing</title>
</head>
<body>
<ul>
{{range .Fnames}}
<li> {{uc .Fname}}</li>
{{end}}
</ul>

<ul>
{{range .Lnames}}
<li> {{uc .Lname}}</li>
{{end}}
</ul>

<ul>
{{range .Fnames}}
<li> {{firstThree .Fname}}</li>
{{end}}
</ul>

<ul>
{{range .Lnames}}
<li> {{firstThree .Lname}}</li>
{{end}}
</ul>

</body>
</html>