<!DOCTYPE html>
<html lang ="en">
<head><title>Struct-Slices-Struct</title>
</head>
<body>
<ul>
{{range .Fnames}}
<li> {{.Fname}}</li>
{{end}}

{{range .Lnames}}
<li> {{.Lname}}</li>
{{end}}


</body>
</html>